body {
    background-color: hsl(217, 54%, 11%);
    font-family: 'Outfit', sans-serif;
    color: hsl(215, 51%, 70%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-align: left;
}

.container {
    display: flex;
    margin-right: 15em;
    margin-top: 2.5em;
    justify-content: center;
}

/* card component*/
.card {
    background-color: hsl(216, 50%, 16%);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px 0;
    border:none;
    border-radius: 10px;
    margin-left: 15em;
    width: 20rem;
}

.card-title {
    margin-top: 10px;
}

.card-title,
.creator-name {
    font-weight: 600;
    color:white;
}

.card-title:hover,
.creator-name:hover {
    color: cyan;
}

.card-text {
    font-size: 18px;
    font-weight: 300;
    padding: 13px 0;
}

.card-link {
    text-decoration: none;
}

.first-link {
    color: hsl(178, 100%, 50%);
}

.links {
    padding-bottom: 5px;
}

.card-footer {
    padding: 15px;
}

.second-link,
.card-footer,
.card-text {
    color: hsl(215, 51%, 70%);
}

/* icons */
.clock-icon {
    margin-left: 100px;
}

/* images */
.equilibrium-img {
    border-radius: 0.5em;
    width: 280px;
}

.avatar-img {
    border: 1px solid white;
    border-radius: 100%;
    margin-right: 20px;
    width: 30px;
}

/* Image Overlay */
.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 280px;
    width: 280px;
    opacity: 0;
    transition: .5s ease;
    background-color:cyan;
  }
  
  .container:hover .overlay {
    opacity: 0.8;
    border-radius: 0.5em;
    height: 280px;
    width: 285px;
    margin-left: 1em;
    margin-top: 1em;
  }
  
  .icon-view {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }


  /* mobile-first */
@media screen and (max-width: 600px) {
    .card {
        background-color: hsl(216, 50%, 16%);
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 16px 0;
        border:none;
        border-radius: 10px;
        margin-left: 15em;
        height: 36rem;
        width: 21rem;
        position: fixed;
    }

    .equilibrium-img {
        border-radius: 0.5em;
        width: 280px;
    }

    footer {
       visibility: hidden;
    }

}

/* footer */
.attribution { 
    font-size: 1em; 
    text-align: center; 
    margin-top: 5em;
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
    text-decoration: none;
}

.attribution a:hover {
    color:hsl(178, 100%, 50%);
}


